@{
    ViewBag.Title = "Minimal set of instructions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li>
        You can add new player score to the list by pressing "Add new score".<br />
        Fill in player name and score and press "Save".
        <p></p>
    </li>
    <li>
        The list can be ordered ascending or descending by scores.<br />
        By default the list is ordered as highest score first in the list.
    </li>

</ul>