@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Message</h2>

<address>
    Tomas Nybondas<br />
    Lakemus 2 D 8, 20540 Turku<br />
    <p>FINLAND</p>
    Phone: 040-773 2210
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:nybondasto@gmail.com">nybondasto@gmail.com</a><br />
</address>