@{
    ViewBag.Title = "Landing page";
}

<div class="jumbotron">
    <h1>ScoreApp</h1>
    <p class="lead">This application is merely a demo for Anders test purposes</p>
    <p><a href="~/Home/List" class="btn btn-primary btn-lg">&raquo; Okay.. Let's GO! &raquo;</a></p>
</div>

<div class="row">
    
</div>