body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 180px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
    border: none;
    zoom: 1;
    height: 180px;
}

.scoreTable {
    width: 40%;
}

.col0 {
    width: 80px;
}

.scoreHead {
    height: 35px;
    background-color: #5682b7;
    color: white;
    cursor: pointer;
}

.scoreRow {
    height: 30px;
}

.scoreRow:hover {
    background-color: #b6ff00;
    cursor: pointer;
}

#addScore {
    width: 400px;
    height: 250px;
    border: solid 1px navy;
    background-color: white;
    position: absolute;
    z-index: 9999999;
    left: 20%;
    top: 40%;
}

.overlay {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(128,128,128,.5);
    z-index: 9999998;
}

#btnNewScore {
    height: 35px;
    width: 120px;
}

    #btnNewScore:hover {
        background-color: #4bc129;
        color: yellow;
    }

    .hint {
        font-size: 16px;
        display: block;
        height: 60px;
    }

.btnSave {
    width: 80px;
    height: 35px;
}

 .btnSave:hover {
     background-color: #4bc129;
     color: white;
 }

.inputField {
    font-size: 14px;
    padding-left: 6px;
    height: 35px;
    margin-bottom: 5px;
}

.labeli {
    font-size: 14px;
    width: 50px;
    display: inline-block;
}

.title {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    background-color: #5682b7;
    color: white;
    width: 100%;
    height: 40px;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-left: 20px;
}

.scoreDiv {
    display: inline-block;
}

.buttonDiv {
    display: inline-block;
    margin-left: 205px;
}

.addContent {
    padding: 20px;
}